.container{
    display: flex;
}

.left, .right{
    display: flex;
    flex-direction: column;
    background: white;
    height: 100vh;
    width: 50%;
    padding-top: 100px;
    align-items: center;
    text-align: center;
}

.line-between{
    height: 100vh;
    width: 2px;
    background: #862c9e;
}

.link{
    position:relative;
}

.left img{
    margin-right: 400px;
    margin-top: 100px;
}

.right img{
    margin-left: 400px;
    margin-top: 100px;
}

.co-container{
    display: flex;
    background-color: white;
    height: 100vh;
}

.the-absolute-image{
    position: absolute;
    z-index: 3;
    margin-left: 70px;
    margin-top: 15px;
    width: 700px;
    pointer-events: none;
}
.another-set-of-icons{
    position: absolute;
    z-index: 3;
    margin-left: 815px;
    pointer-events: none;
}
.dark-blob{
    position: absolute;
    background: #3c3c3c;
    border-radius: 325px;
    width: 2000px;
    height: 660px;
    margin-left: -1023px;
    align-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 100px 0px 30px -15px rgba(173, 59, 206, 0.35);
}

.form2{
    margin-left: 1265px;
    width: 400px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    z-index: 4;
}

.form2 h2{
    padding: 15px;
    color: white;
    font-size: 33px;
    text-align: center;
}

.form2 input{
    background: #dfdde5;
    height: 50px;
    color: #3c3c3c;
}

.form2 select{
    padding: 15px 10px;
    width: 100%;
    border-radius: 15px;
    background: #dfdde5;
    color: #3c3c3c;
    size: 5;
    overflow-y: auto;
}

label{
    margin: 0px;
    align-self: flex-start;
    color: white;
    font-size: 12px;
}


.orders{
    display: flex;
    flex-direction: column;
    background: white;
    width: 70%;
    align-items: center;
    align-content: center;
}

.orders h1{
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

.date-time{
    display: flex;
    gap: 100px;
    font-size: 18px;
    color: #cd58e9;
}

table, tr, td, th{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  border-collapse: collapse;
}

tr{
    height: 80px;
}

th{
    padding: 25px;
}

.orders table tbody td{
    padding: 25px;
}

.orders table{
  margin: 20px 50px;
}

.contaordersiner th, .orders td{
  padding: 35px 60px;
  font-size: 20px;
  text-align: center;
}

.orders th{
  background: #ebaafa;
}

.orders tbody tr:hover{
  background: #dfdde5;
}

.yet-another-image{
    position: absolute;
    margin-top: 30px;
}

td button{
    margin: 0px;
}